/ConfigurationGenerator.Samples/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/ConfigurationGenerator.Samples/obj/Debug/net9.0/ConfigurationGenerator.Samples.AssemblyInfo.cs
/ConfigurationGenerator.Samples/obj/Debug/net9.0/ConfigurationGenerator.Samples.AssemblyInfoInputs.cache
/ConfigurationGenerator.Samples/obj/Debug/net9.0/ConfigurationGenerator.Samples.assets.cache
/ConfigurationGenerator.Samples/obj/Debug/net9.0/ConfigurationGenerator.Samples.csproj.AssemblyReference.cache
/ConfigurationGenerator.Samples/obj/Debug/net9.0/ConfigurationGenerator.Samples.GeneratedMSBuildEditorConfig.editorconfig
/ConfigurationGenerator.Samples/obj/Debug/net9.0/MyPluginInfo.cs
/ConfigurationGenerator.Samples/obj/Debug/net35/BepInExConfigurationGenerator.AssemblyInfo.cs
/ConfigurationGenerator.Samples/obj/Debug/net35/BepInExConfigurationGenerator.AssemblyInfoInputs.cache
/ConfigurationGenerator.Samples/obj/Debug/net35/BepInExConfigurationGenerator.assets.cache
/ConfigurationGenerator.Samples/obj/Debug/net35/BepInExConfigurationGenerator.csproj.AssemblyReference.cache
/ConfigurationGenerator.Samples/obj/Debug/net35/BepInExConfigurationGenerator.GeneratedMSBuildEditorConfig.editorconfig
/ConfigurationGenerator.Samples/obj/Debug/net35/ConfigurationGenerator.Samples.AssemblyInfo.cs
/ConfigurationGenerator.Samples/obj/Debug/net35/ConfigurationGenerator.Samples.AssemblyInfoInputs.cache
/ConfigurationGenerator.Samples/obj/Debug/net35/ConfigurationGenerator.Samples.assets.cache
/ConfigurationGenerator.Samples/obj/Debug/net35/ConfigurationGenerator.Samples.csproj.AssemblyReference.cache
/ConfigurationGenerator.Samples/obj/Debug/net35/ConfigurationGenerator.Samples.GeneratedMSBuildEditorConfig.editorconfig
/ConfigurationGenerator.Samples/obj/Debug/net35/MyPluginInfo.cs
/ConfigurationGenerator.Samples/obj/Debug/net47/.NETFramework,Version=v4.7.AssemblyAttributes.cs
/ConfigurationGenerator.Samples/obj/Debug/net47/ConfigurationGenerator.Samples.AssemblyInfo.cs
/ConfigurationGenerator.Samples/obj/Debug/net47/ConfigurationGenerator.Samples.AssemblyInfoInputs.cache
/ConfigurationGenerator.Samples/obj/Debug/net47/ConfigurationGenerator.Samples.assets.cache
/ConfigurationGenerator.Samples/obj/Debug/net47/ConfigurationGenerator.Samples.csproj.AssemblyReference.cache
/ConfigurationGenerator.Samples/obj/Debug/net47/ConfigurationGenerator.Samples.csproj.CoreCompileInputs.cache
/ConfigurationGenerator.Samples/obj/Debug/net47/ConfigurationGenerator.Samples.csproj.FileListAbsolute.txt
/ConfigurationGenerator.Samples/obj/Debug/net47/ConfigurationGenerator.Samples.dll
/ConfigurationGenerator.Samples/obj/Debug/net47/ConfigurationGenerator.Samples.GeneratedMSBuildEditorConfig.editorconfig
/ConfigurationGenerator.Samples/obj/Debug/net47/ConfigurationGenerator.Samples.pdb
/ConfigurationGenerator.Samples/obj/Debug/net47/MyPluginInfo.cs
/ConfigurationGenerator.Samples/obj/BepInExConfigurationGenerator.csproj.nuget.dgspec.json
/ConfigurationGenerator.Samples/obj/BepInExConfigurationGenerator.csproj.nuget.g.props
/ConfigurationGenerator.Samples/obj/BepInExConfigurationGenerator.csproj.nuget.g.targets
/ConfigurationGenerator.Samples/obj/ConfigurationGenerator.Samples.csproj.nuget.dgspec.json
/ConfigurationGenerator.Samples/obj/ConfigurationGenerator.Samples.csproj.nuget.g.props
/ConfigurationGenerator.Samples/obj/ConfigurationGenerator.Samples.csproj.nuget.g.targets
/ConfigurationGenerator.Samples/obj/project.assets.json
/ConfigurationGenerator.Samples/obj/project.nuget.cache
/ConfigurationGenerator.Samples/obj/project.packagespec.json
/ConfigurationGenerator.Samples/obj/rider.project.model.nuget.info
/ConfigurationGenerator.Samples/obj/rider.project.restore.info
/ConfigurationGenerator.Samples/bin/Debug/net47/ConfigurationGenerator.Samples.dll
/ConfigurationGenerator.Samples/bin/Debug/net47/ConfigurationGenerator.Samples.pdb
/ConfigurationGenerator/bin/Debug/netstandard2.0/ConfigurationGenerator.deps.json
/ConfigurationGenerator/bin/Debug/netstandard2.0/ConfigurationGenerator.dll
/ConfigurationGenerator/bin/Debug/netstandard2.0/ConfigurationGenerator.pdb
/ConfigurationGenerator/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/ConfigurationGenerator/obj/Debug/netstandard2.0/ConfigurationGenerator.AssemblyInfo.cs
/ConfigurationGenerator/obj/Debug/netstandard2.0/ConfigurationGenerator.AssemblyInfoInputs.cache
/ConfigurationGenerator/obj/Debug/netstandard2.0/ConfigurationGenerator.assets.cache
/ConfigurationGenerator/obj/Debug/netstandard2.0/ConfigurationGenerator.csproj.AssemblyReference.cache
/ConfigurationGenerator/obj/Debug/netstandard2.0/ConfigurationGenerator.csproj.CoreCompileInputs.cache
/ConfigurationGenerator/obj/Debug/netstandard2.0/ConfigurationGenerator.csproj.FileListAbsolute.txt
/ConfigurationGenerator/obj/Debug/netstandard2.0/ConfigurationGenerator.dll
/ConfigurationGenerator/obj/Debug/netstandard2.0/ConfigurationGenerator.GeneratedMSBuildEditorConfig.editorconfig
/ConfigurationGenerator/obj/Debug/netstandard2.0/ConfigurationGenerator.pdb
/ConfigurationGenerator/obj/ConfigurationGenerator.csproj.nuget.dgspec.json
/ConfigurationGenerator/obj/ConfigurationGenerator.csproj.nuget.g.props
/ConfigurationGenerator/obj/ConfigurationGenerator.csproj.nuget.g.targets
/ConfigurationGenerator/obj/project.assets.json
/ConfigurationGenerator/obj/project.nuget.cache
/ConfigurationGenerator/obj/project.packagespec.json
/ConfigurationGenerator/obj/rider.project.model.nuget.info
/ConfigurationGenerator/obj/rider.project.restore.info
